.achievements {
  &--card {
    &--section-title {
      color: rgba(23, 32, 62, 1);
      opacity: 0.5;
      font-size: 1.5em;
      font-family: Futura-font, Arial, sans-serif;
      // font-weight: 600;
      // margin-bottom: 20px;
      // margin-top: 12px;
    }
  }
}