.computer-monitor {
  width: 540px;
  height: 335px;
  // border: 2px dotted;
  // background: #333;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-radius: 8px;
}

.screen {
  width: 36%;
  height: 33%;
  margin: auto;
  background-color: #161617;
  margin-left: 80px;
  margin-bottom: 140px;
  // border: 2px solid #333;
  // color: #00ff00;
  font-family: monospace;
  padding: 10px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: inset 0 0 5px gray; /* Adding an inset shadow for depth */
}

.screen-off {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  // background-color: #000;
  color: #00ff00;
}

.button-container {
  width: 10%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  // width: 100%;
  padding: 10px;
  padding-top: 85px;
}

button, monitor-button {
  // padding: 5px 10px;
  // background-color: #00ff00;
  border: 2px dashed;
  color: #000;
  background-color: #fefefb;
  border: none;
  cursor: pointer;
  // font-weight: bold;
  font-size: 10px;
  font-family: Futura-font;
}

monitor-button:hover {
  background-color: #00cc00;
}
