$base-line-height: 90%;
$font-size: 5rem;

.typing-block {
  min-height: 4em; /* Adjust the minimum height as needed */
  max-height: 4em;
  // min-height: 430px;
  margin-bottom: 160px;
  position: fixed;

  &--text {
    color: rgba(23, 32, 62, 1);
    font-family: Futura-font;
    font-style: normal;
    font-size: $font-size;
    // font-size: calc((4.2 * (1.5vh + 1.1vw))/2);
    // font-weight: 600;
    padding: 3px 0;
    margin: 0;
    line-height: $base-line-height; 
    // line-height: 6rem;
  
    @media screen and (max-width: 768px) {
      &:nth-child(2) {
        line-height: $base-line-height + 20%; 
      }
    }
  
    // @media screen and (max-width: 480px) {
    //   &:last-child {
    //     font-size: $font-size - 2;
    //   }
    //   // &:nth-child(2) {
    //   //   line-height: $base-line-height + 75; 
    //   // }
    // }
  }

  &--subtext {
    // color: rgba(23, 32, 62, 1);
    // font-family: Futura-font;
    // font-style: normal;
    // font-size: 1rem;
    // // font-size: calc((4.2 * (1.5vh + 1.1vw))/2);
    // // font-weight: 600;
    // padding: 3px 0;
    // line-height: $base-line-height;

    position: fixed;
    
    font-family: Noto-font;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 17rem;
    max-width: 570px;
    width: 100%;

    @media screen and (max-width: 768px) {
      margin-top: 22rem;
    }
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.blinking-underscore {
  opacity: 0;
  animation: blink .75s ease infinite; 
}

.image-container {
  position: relative;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(23, 32, 62, 1); // Adjust color and opacity here
    // mix-blend-mode: color;
    // pointer-events: none; // Allows interaction with elements behind the overlay
  }
}

// .image-container {
//   position: relative;
//   display: inline-block; /* or display: block; depending on your layout */

//   /* Set the dimensions of the container to match the images */
//   width: 300px; /* Adjust to your desired width */
//   height: 200px; /* Adjust to your desired height */
// }

// .base-image,
// .overlay-image {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
// }

// .overlay-image {
//   z-index: 1; /* Place the overlay image on top */
//   // opacity: 0.7; /* Adjust opacity to control the overlay effect */
// }

.circle {
  width: 100px; /* Adjust the width and height as needed */
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50%;
}

