.cards {
  outline-style: dotted;
  

  &--text-header {
    color: rgba(23, 32, 62, 1);
    font-family: Futura-font;
    font-style: normal;
    font-size: 2em;
    // font-size: calc((4.2 * (1.5vh + 1.1vw))/2);
    // font-weight: 600;
    // padding: 3px 0;
    margin: 0;
    // line-height: $base-line-height; 
  }

  &--link {
    display: inline-block;
    font-family: futura-pt,Arial,sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--theme-ui-colors-primary);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    line-height: 3rem;
    padding-left: 16px;
    padding-right: 0px;
    text-decoration: none;
  }
}

