@use 'src/App';

$off-white: #cdcdcd;

.nav-bar {
  // background-color: App.$main-color !important;
  border-bottom: 1px solid $off-white;
  z-index: 1000;
}
 
.nav-buttons { 
  color: $off-white !important;
  display: 'block'
}
