@use 'src/App';

$off-white: #cdcdcd;

.menu-bar {
  // background-color: App.$main-color !important;
  border-bottom: 1px solid $off-white;
  z-index: 1000;

  &--logo {
    height: 100%;
  }

  &--buttons {
    color: $off-white !important;
  display: 'block'
  }
}
