.typing-block {
  min-height: 430px;
  margin-top: 50px;
  margin-bottom: 160px;
}

.typewriter {
  font-family: JetBrainsFont;
  font-style: normal;
  font-weight: 500;
  font-size: 101px;
  font-weight: 700;
  line-height: 105%;
  
  display: inline-block;
  position: relative;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.fading-letter {
  opacity: 0;
  animation: fadeInOut 1.5s ease infinite;
}

.underscore {
  opacity: 1;
}