$base-line-height: 10%;

.typing-block {
  min-height: 430px;
  margin-bottom: 160px;
  position: fixed;

  &--text {
    font-family: JetBrainsFont;
    font-style: normal;
    font-size: calc(4.2 * (1.5vh + 1.1vw));
    font-weight: 700;
    padding: 3px 0;
    line-height: $base-line-height; 
  
    @media screen and (max-width: 768px) {
      &:first-child {
        line-height: $base-line-height - 155;
      }
      &:nth-child(2) {
        line-height: $base-line-height + 75; 
      }
    }
  
    @media screen and (max-width: 480px) {
      &:last-child {
        line-height: $base-line-height - 55; 
      }
      &:nth-child(2) {
        line-height: $base-line-height + 75; 
      }
    }
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.blinking-underscore {
  opacity: 0;
  animation: blink .75s ease infinite; 
}
