@font-face {
  font-family: 'JetBrainsFont';
  src: local('JetBrainsFont'),
         url('./fonts/JetBrains/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */


.App-main-wrap {
  // background-color: #1a1b1e;

  flex-direction: column;
  align-items: center;
  display: flex;

  box-sizing: border-box;
}

.App-hero-section {
  z-index: 1;
  // background-color: #181717;
  padding-top: 130px;
  padding-bottom: 75px;
  font-family: Aeonikfono, sans-serif;
  font-weight: 700;
  position: relative;

  width: 100%;
  /* background-color: #f2f0ed; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 156px;
  padding-bottom: 156px; */
  display: flex;

  box-sizing: border-box;
}

.App-hero-container {
  position: sticky;
  top: 190px;

  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;

  padding-left: 0;
  padding-right: 0;

  width: 100%;
  max-width: 1360px;
}

.grid {
  justify-items: start;
}

.App-hero-column {
  will-change: transform, opacity;
  transform: translate3d(0px, 5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 0.7255;

  grid-area: span 1 / span 12 / span 1 / span 12;
  justify-self: center;

  width: 100%;
  max-width: 920px;
  text-align: center;
  align-items: center;
}

.H1-welcome {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    skew(0deg, 0deg);
  opacity: 1;
  transform-style: preserve-3d;

  color: #e4e0dc;
  text-align: center;
  margin-bottom: 32px;
  font-family: Aeonik, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 0.82em;
}


@keyframes App-welcome-msg {
  from {
    transform: translate3d(0px, 30px, 0px);
  }
  to {
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes App-my-name {
  from {
    transform: translate3d(0px, 50px, 0px);
  }
  to {
    transform: translate3d(0px, 0px, 0px);
  }
}

.Hero-msg {
  font-family: 'Rubik', sans-serif;
  /* transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); */
  animation: App-welcome-msg 1s;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  opacity: 1;
  transform-style: preserve-3d;

  font-size: 50px;
  font-weight: 700;
  line-height: .82em;
  color: #febe57d9;
  letter-spacing: 0;
  // margin-bottom: 32px;
  // font-size: 18px;
  // font-weight: 400;
  line-height: 1.33em;

  &--my-name {
    animation: App-my-name 1s;

    // transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    // skew(0deg, 0deg);
    // opacity: 1;
    transform-style: preserve-3d;

    // color: red;
    font-family: 'JetBrainsFont', serif;
    
    // font-family: 'Rubik', sans-serif;
    color:  #181717;
    text-align: center;
    margin-bottom: 32px;
    // font-family: Aeonik, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 0.82em;
  }
}
