.layout {
  max-width: -webkit-calc(1288px + 2*32px);
  max-width: -moz-calc(1288px + 2*32px);
  max-width: calc(1288px + 2*32px);
  padding: 0 32px;
  margin: auto;
  position: relative;
}

.spacer {
  height: 92px;
}

.experience {
  background-color: #efefec;
  height: 100vh;
  padding-top: 50;
}

.projects {
  background-color: #fefefb;
  height: 100vh;
  padding-top: 50;
}

// .body-wrapper {
  // background-color: #f2f0ed;
  // padding: 1em 2em 2em;
  // padding-left: 18px;
  // flex-direction: column;
  // align-items: center;
  // display: flex;
  // box-sizing: border-box;
  // background-color: inherit;
// }